@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
    box-sizing: border-box;
}

header {
    background-color: #294673;
    color: white;
    width: 100%;
    padding: 1rem;
}

.instructions {
    border: 1px solid grey;
    margin-bottom: 1rem;
}

.instructions h2 {
    width: 100%;
    background-color: #eee;
    padding: 1rem;
    cursor: pointer;
}

.instructions p {
    border: 1px solid grey;
    padding: 1rem;
}

.game {
    width: 350px;
    margin: auto;
}

.title {
    font-size: x-large;
}

.modal-content h1 {
    text-align: center;
}

.btn {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    background-color: #66be7b;
    border-radius: 5px;
}

.score {
    display: flex;
    font-size: xx-large;
    text-align: center;
    justify-content: center;
    width: 350px;
}

/* This file is for your main application CSS */
.tile {
    display: inline-block;
    border-radius: 50%;
    height: 47px;
    width: 47px;
    text-align: center;
    line-height: 47px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    margin: 1px;
}

.game-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    /* background-color: #294673; */
}

.game-board {
    display: flex;
}

.animating-modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: #fefefe;
    margin: 30% auto;
    padding: 20px;
    border: 1px solid #888;
    width: fit-content;
  }

/* Slots */

.next-tile {
    height: 50px;
    width: 50px;
}

.slot {
    position: relative;
    border: 1px solid white;
    height: 50px;
    width: 50px;
}

.empty-slot {
    background-color: #294673;

}

.tile-slot {
    background-color: #294673;
}

.game-over-slot {
    background-color: red;
}

.overflow-slot {
    background-color: transparent;
}

/* Tiles */

.tile-1 {
    background-color: #66be7b;
}
.tile-2 {
    background-color: #fed452;
}
.tile-3 {
    background-color: #fbb050;
}
.tile-4 {
    background-color: #e74d5f;
}
.tile-5 {
    background-color: #ed75c9;
}
.tile-6 {
    background-color: #4dd2f9;
}
.tile-7 {
    background-color: #3a87c5;
}
.tile-egg {
    border-radius: 50%;
    background-color: #f9fbfc;
    color: transparent;
    box-shadow: inset 0px 0px 0px 5px #f9fbfc, 
                inset 0px 0px 0px 10px #294673;
}
.tile-cracked {
    background-color: #ecf2f4;
    color: transparent;
    box-shadow: inset 0px 0px 0px 5px #f9fbfc, 
                inset 0px 0px 0px 10px #294673;
}
.tile-cracked:after {
    content: '';
    width: 100%;
    height: 100%;
    border: 4px dashed #294673;
    border-radius: 50%;
    margin: 0;
    display: flex;
}
.tile-empty {
    background-color: transparent;
    color: transparent;
}

.popping {
    animation-name: popping;
    animation-duration: 1s;
    /* border: 1px solid white; */
}

@keyframes popping {
    from {}
    to {
        transform: rotate(-3.142rad) scale(0.1, 0.1); 
        background-color: transparent; 
        color: transparent; 
    }
  }

.points {
    color: white;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    z-index: 1;
    top: 0px;
    text-align: center;
    width: 47px;
    /* background-color: blue; */
    line-height: 47px;
    animation-name: points;
    animation-duration: 0.5s;
}

@keyframes points {
    from {color: transparent;}
    to {
        /* background-color: blue; */
        color: white;
        display: inline-block;
        background-color: #294673;
    }
}



/* Turn tracking */

.turn-tracker {
    display: flex;
}

.turn-false{
    margin-right: 1px;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50px;
    background-color: black;
}

.turn-true{
    margin-right: 1px;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50px;
}